<a href="https://colab.research.google.com/github/lalopezpa/AlgorithmsUN2022II/blob/main/Lab9/Lab9Group7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 3. (1 noneosecond by instruction)

In [ ]:
import math
import numpy as np
import pandas as pd

In [ ]:
df = pd.DataFrame()
df['Second'] = None
df['Minute'] = None
df['Hour'] = None
df['Day'] = None
df['Year'] = None
df['Century'] = None
df['Milenium'] = None

Time Complexity: **$lg(n)$**

In [ ]:
S1 = "2^"+str(10**9)
M1 = "2^"+str(60*(10**9))
H1 = "2^"+str(60*60*(10**9))
D1 = "2^"+str(60*60*24*(10**9))
Y1 = "2^"+str(365*60*60*24*(10**9))
C1 = "2^"+str(100*365*60*60*24*(10**9))
MI1= "2^"+str(1000*100*365*60*60*24*(10**9))
df.loc['lg(n)'] = [S1, M1, H1,D1,Y1,C1,MI1]

Time Complexity: **$lg^2(n)$**

In [ ]:
S2 = "2^"+str(round(math.sqrt(10**9)))
M2 =  "2^"+str(round(math.sqrt(60*10**9)))
H2 =  "2^"+str(round(math.sqrt(60*60*10**9)))
D2 =  "2^"+str(round(math.sqrt(24*60*60*10**9)))
Y2 =  "2^"+str(round(math.sqrt(365*24*60*60*10**9)))
C2 =  "2^"+str(round(math.sqrt(100* 365*24*60*60*10**9)))
MI2 =  "2^"+str(round(math.sqrt(1000*100*365*24*60*60*10**9)))
df.loc['lg^2(n)'] = [S2, M2, H2,D2,Y2,C2,MI2]

Time Complexity: **$√n$**

In [ ]:
S3 = ("{:.5E}".format(math.pow(10**9,2)))
M3 = ("{:.5E}".format(math.pow(60*10**9,2)))
H3 =("{:.5E}".format(math.pow(60*60*10**9,2)))
D3 = ("{:.5E}".format(math.pow(24*60*60*10**9,2)))
Y3 = ("{:.5E}".format(math.pow(365*24*60*60*10**9,2)))
C3 = ("{:.5E}".format(math.pow(100*365*24*60*60*10**9,2)))
MI3 = ("{:.5E}".format(math.pow(1000*100*365*24*60*60*10**9,2)))
df.loc['√n'] = [S3, M3, H3,D3,Y3,C3,MI3]

Time Complexity: **$n$**

In [ ]:
S4 = ( "{:.5E}".format(10**9))
M4 = ("{:.5E}".format(60*10**9))
H4 = ("{:.5E}".format(60*60*10**9))
D4 = ("{:.5E}".format(24*60*60*10**9))
Y4 = ("{:.5E}".format(365*24*60*60*10**9))
C4 = ("{:.5E}".format(100*365*24*60*60*10**9))
MI4 = ("{:.5E}".format(1000*100*365*24*60*60*10**9))
df.loc['n'] = [S4, M4, H4,D4,Y4,C4,MI4]

Time Complexity: **$nlog(n)$**

In [ ]:
def f(n):
  return n*math.log2(n)


def find(f,v):
  l = 1
  r = v
  while True:
    m = int((l+r)/2)
    if ((f(m+1) > v) and (f(m) <= v) ) or (l == m) or  (r == m):
      return int(m)   
    elif f(m) < v:
      l = m
    else: 
      r = m

S5 = ("{:.8E}".format(find(f,10**9 )))
M5 = ("{:.8E}".format(find(f,60*10**9 )))
H5 = ("{:.8E}".format(find(f,60*60*10**9 )))
D5 = ("{:.8E}".format(find(f,24*60*60*10**9 )))
Y5 = ("{:.8E}".format(find(f,365*24*60*60*10**9)))
C5 = ("{:.8E}".format(find(f,100*365*24*60*60*10**9)))
MI5 = ("{:.8E}".format(find(f,1000*100*365*24*60*60*10**9)))
df.loc['nlog(n)'] = [S5, M5, H5,D5,Y5,C5,MI5]

Time Complexity: **$n^2$**

In [ ]:
S6 = (round(math.sqrt(10**9 )))
M6 = (round(math.sqrt(60*10**9 )))
H6 = (round(math.sqrt(60*60*10**9 )))
D6 = (round(math.sqrt(24*60*60*10**9 )))
Y6 = (round(math.sqrt(365*24*60*60*10**9 )))
C6 = (round(math.sqrt(100*365*24*60*60*10**9 )))
MI6 = (round(math.sqrt(1000*100*365*24*60*60*10**9 )))
df.loc['n^2'] = [S6, M6, H6,D6,Y6,C6,MI6]

Time Complexity: **$n^3$**

In [ ]:
S7 = (round(math.pow(10**9 ,1/3)))
M7 = (round(math.pow(60*10**9 ,1/3)))
H7 = (round(math.pow(60*60*10**9 ,1/3)))
D7 = (round(math.pow(24*60*60*10**9 ,1/3)))
Y7 = (round(math.pow(365*24*60*60*10**9 ,1/3)))
C7 = (round(math.pow(100*365*24*60*60*10**9 ,1/3)))
MI7 = (round(math.pow(1000*100*365*24*60*60*10**9 ,1/3)))
df.loc['n^3'] = [S7, M7, H7,D7,Y7,C7,MI7]

Time Complexity: **$n^4$**

In [ ]:
S8 = (round(math.pow(10**9 ,1/4)))
M8 = (round(math.pow(60*10**9 ,1/4)))
H8 = (round(math.pow(60*60*10**9 ,1/4)))
D8 = (round(math.pow(24*60*60*10**9 ,1/4)))
Y8 = (round(math.pow(365*24*60*60*10**9 ,1/4)))
C8 = (round(math.pow(100*365*24*60*60*10**9 ,1/4)))
MI8 = (round(math.pow(1000*100*365*24*60*60*10**9 ,1/4)))
df.loc['n^4'] = [S8, M8, H8,D8,Y8,C8,MI8]

Time Complexity: **$2^n$**

In [ ]:
S9 = (int(math.log2(10**9 )))
M9 = (int(math.log2(60*10**9 )))
H9 = (int(math.log2(60*60*10**9 )))
D9 = (int(math.log2(24*60*60*10**9 )))
Y9 = (int(math.log2(365*24*60*60*10**9 )))
C9 = (int(math.log2(100*365*24*60*60*10**9 )))
MI9 = (int(math.log2(1000*100*365*24*60*60*10**9 )))
df.loc['2^n'] = [S9, M9, H9,D9,Y9,C9,MI9]

Time Complexity: **$n!$**

In [ ]:
def f(n):
  return math.factorial(n)

def find(f,v):
  l = 1
  r = 100
  while True:
    m = int((l+r)/2)
    if ((f(m+1) > v) and (f(m) <= v) ) or (l == m) or (r== m):
      return int(m)
    elif f(m) < v:
      l = m
    else: 
      r = m


S10 = (find(f,10**9 ))
M10 = (find(f,60*10**9 ))
H10 = (find(f,60*60*10**9 ))
D10  =(find(f,24*60*60*10**9 ))
Y10  =(find(f,365*24*60*60*10**9 ))
C10 = (find(f,100*365*24*60*60*10**9 ))
MI10 = (find(f,1000*100*365*24*60*60*10**9 ))
df.loc['n!'] = [S10, M10, H10,D10,Y10,C10,MI10]

Time Complexity: **$n^n$**

In [ ]:
def f(n):
  return n**n

def find(f,v):
  l = 1
  r = 100
  while True:
    m = int((l+r)/2)
    if ((f(m+1) > v) and (f(m) <= v) ) or (l == m) or (r== m):
      return int(m)
    elif f(m) < v:
      l = m
    else: 
      r = m

S11 = (find(f,10**9 ))
M11 =(find(f,60*10**9 ))
H11 = (find(f,60*60*10**9 ))
D11 = (find(f,24*60*60*10**9 ))
Y11 =(find(f,365*24*60*60*10**9 ))
C11= (find(f,100*365*24*60*60*10**9 ))
MI11 = (find(f,1000*100*365*24*60*60*10**9 ))
df.loc['n^n'] = [S11, M11, H11,D11,Y11,C11,MI11]
df.style.set_table_styles([{'selector' : '', 
                            'props' : [('border', 
                                        '3px solid')]}])